torch
torchvision
numpy==1.26.4
roma==1.5.0
gradio==4.43.0
matplotlib==3.9.2
tqdm==4.66.5
opencv-python==4.10.0.84
scipy==1.13.1
einops==0.8.0
trimesh==4.4.9
tensorboard==2.17.1
pyglet==1.5.29
huggingface-hub[torch]==0.24.6
pillow==10.3.0
gdown==5.2.0
imageio[ffmpeg]==2.35.1